* {
  box-sizing: border-box;
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background-color: #2B2B2B;
  display: flex;
}

/*NAV LEFT*/
.nav-left {
  flex: 4;
  margin-right: auto;
  padding-top: 5%;
}

nav a {
  margin: 2%;
  text-decoration: none;
}

.blue-icon {
  color: #27B5FF;
}

.nav-link {
  color: #999999;
  margin-left: 1%;
}

.nav-link:hover {
  color: #FFFFFF;
}

/*NAV RIGHT*/
.nav-right {
  flex: 1;
  margin-top: .5%;
  text-align: center;
}

.nav-right p a {
  align-items: center;
  color: #27B5FF;
  display: flex;
  justify-content: center;
}

.nav-right-icon {
  /*font-size: 1.5rem;*/
  font-size: 24px;
}

.fa-user-circle {
  color: #999999;
}

.admin-username {
  margin: 0 3%;
}

.admin-username:hover {
  color: #FFFFFF;
}

.small-font {
  /*font-size: .8rem;*/
  font-size: 13px;
}

.logo {
  filter: invert(1);
  width: 60%;
}

/*MAIN*/
main {
  background-color: #EFEFEF;
  height: 100%;
  padding: 1%;
}

h1 {
  color: #4D4D4D;
  /*font-size: 2.5rem;*/
  font-size: 40px;
}

section {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

/*CARD*/
.card {
  background-color: #FFFFFF;
  box-shadow: 0 0 5px grey;
  color: #4D4D4D;
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5%;
  width: 24%;
}

.card-picture {
  height: 40%;
  position: relative;
}

.profile-pic {
  filter: brightness(.7);
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
  z-index: 0;
}

.profile-pic:hover {
  filter: brightness(1);
}

.tall-person {
  object-position: top;
}

.arrow-icon {
  left: 3%;
  position: absolute;
  top: 8%;
  width: 17%;
}

.views {
  color: #FFFFFF;
  /*font-size: .9rem;*/
  font-size: 14px;
  position: absolute;
  right: 3%;
  text-align: center;
  top: 5%;
}

.big-font {
  /*font-size: 2rem;*/
  font-size: 32px;
}

.card-info {
  display: flex;
  height: 60%;
  flex-direction: column;
  padding: 5%;
}

.info-quarter {
  height: 25%;
  width: 100%;
}

.card-date {
  color: #AFB0B2;
}

.url {
  background-color: #EFEFEF;
  margin: 0 auto 5%;
  overflow-wrap: break-word;
  padding: 1%;
  width: 98%;
}

.url p {
  margin: 4% 3% 3%;
}

.url a {
  color: #4D4D4D;
  text-decoration: none;
}

.url:hover {
  text-decoration: underline;
}

.attachment-count {
  color: #27B5FF;
}

/*MEDIA QUERIES*/
@media (max-width: 1440px) and (orientation: portrait) {
  .nav-left {
    flex: 2;
    /*font-size: 1.25rem;*/
    margin-left: 2%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-left a {
    box-sizing: content-box;
    display: block;
    margin: 4px;
    font-size: 0px;
    border: 2px solid #FFFFFF;
    width: 40px;
  }
  /*.small-font {
    font-size: 1.1rem;
  }*/
  section {
    justify-content: center;
  }
  .card {
    /*font-size: 1.5rem;*/
    width: 98%;
  }
  /*.big-font {
    font-size: 3rem;
  }*/
}

@media (max-width: 1080px) and (orientation: landscape) {
  .nav-left {
    flex: 3;
  }
  section {
    justify-content: left;
  }
  .card {
    margin: 0 .5% 1.5% .5%;
    width: calc(97% / 3);
  }
  /*section {
    justify-content: space-between;
  }
  .card {
    margin: 0 .5% 1.5% .5%;
    width: 48%;
  }*/
}

@media (min-width: 1080px) and (orientation: landscape) {
  body {
    height: 1600px;
  }
}

@media (max-width: 768px) and (orientation: landscape) {
  .nav-left {
    flex: 2;
    /*font-size: 1.25rem;*/
    margin-left: 2%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-left a {
    box-sizing: content-box;
    display: block;
    margin: 4px;
    font-size: 0px;
    border: 2px solid #FFFFFF;
    width: 40px;
  }
  .card {
    width: 49%;
  }
}

@media (max-width: 480px) and (orientation: landscape) {
  .nav-left {
    flex: 2;
    /*font-size: 1.25rem;*/
    margin-left: 2%;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .nav-left a {
    box-sizing: content-box;
    display: block;
    margin: 4px;
    font-size: 0px;
    border: 2px solid #FFFFFF;
    width: 40px;
  }
  /*.small-font {
    font-size: 1.1rem;
  }*/
  section {
    justify-content: center;
  }
  .card {
    /*font-size: 1.5rem;*/
    width: 98%;
  }
}